<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <title>Erreur <%= status %></title>
</head>
<body>
  <h1>Erreur <%= status %></h1>
  <p><%= message %></p>
  <a href="/">Retour à l'accueil</a>
</body>
</html>
